@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

@import "variables";
@import "margin";
@import "input";
@import "login";
@import "auth";
@import "profile";
@import "sidebar";
@import "dashboard";
@import "modal";
@import "books";
@import "breakdown";
@import "feedback";
@import "pagination";
@import "story_plan";
@import "editor";
@import "menubar";
@import "menububble";

@font-face {
    font-family: MinionPro;
    src: url("../fonts/minionpro/MinionPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: MinionPro;
    font-weight: 600;
    src: url("../fonts/minionpro/MinionPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family: GillSans;
    src: url('../fonts/gillsans/gil-regular.ttf') format('truetype');
}

@font-face {
    font-family: GillSans;
    font-weight: 600;
    src: url('../fonts/gillsans/gil-bold.ttf') format('truetype');
}



html, body {
    font-family: GillSans, sans-serif !important;
    font-size: 15px !important;
    color: #4e4d4b !important;
    overflow-y: auto;
    overflow-x: hidden;

    //@media (min-height: 630px) {
    //    font-size: 13px;
    //}
    //
    //@media (min-height: 880px) {
    //    font-size: 16px;
    //}
}

body, input, button {font-family: GillSans, sans-serif;}

button,
input,
optgroup,
select,
textarea {
    font-size: 15px;
}

.ff-minion {
    font-family: MinionPro, sans-serif;
}

.bg-default {
    background-color: #EDE9E0;
}

.bg-light {
    background-color: #FDFCF8;
}

.bg-dark {
    background-color: #4e4d4b;
}

.bg-danger {
    background-color: #b30000;
}

.bg-semilight {
    background-color: #F7F4ED;
}

.copyright {
    font-size: 10px;
    color: rgba(3, 3, 3, 0.5);
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 18px;

    //@media (min-height: 880px) {
    //    font-size: 22px;
    //}
}

.fs-24 {
    font-size: 24px;
}

.fs-34 {
    font-size: 34px;
}

.fs-50 {
    font-size: 50px;
}

.fs-60 {
    font-size: 60px;
    line-height: 60px;
}

.fs-70 {
    font-size: 46px;

    //@media (min-height: 630px) {
    //    font-size: 30px;
    //}
    //
    //@media (min-height: 880px) {
    //    font-size: 70px;
    //}
}

.fs-default {
    font-size: 14px;
}

.text-color-light, .text-color-inactive {
    color: #adaaa5;
}

.text-color-inactive {
    &:hover {
        color: #4e4d4b;
    }
}

.text-color-dark, .text-color-active {
    color: #4e4d4b;
}

.h-full {
    height: 100%;
}

.w-76 {
    width: 18rem;
}

.form-label, .label-default {
    font-size: 12px;
    color: #adaaa5;
    text-transform: uppercase;
}

.gap-15p {
    gap: 20px 15%;
}

label {
    position: relative;

    &.required {
        &::after {
            position: absolute;
            content: '*';
            color: red;
            right: 0;
        }
    }
}

.svg-42 {
    width: 36px;
    height: 36px;

    //@media (min-height: 880px) {
    //    width: 42px;
    //    height: 42px;
    //}
}

.h2 {
    font-family: MinionPro;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
    color: #4e4d4b;
}

.h3 {
    font-family: MinionPro;
    font-size: 20px;
    font-weight: 600;
    color: #4e4d4b;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.custom-scroll {
    &::-webkit-scrollbar {
        width: 2px;
        //border-radius: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.modal-dialog {
    top: 25%;
}

.border-default {
    border: 1px solid #d0d0d0;
}

.icon-hoverable {
    cursor: pointer;

    &:hover {
        g, use {
            fill: #4e4d4b;
        }

        svg {
            g, use {
                fill: #4e4d4b;
            }
        }
    }

    g, use {
        transition: fill $defaultDurationTIme linear;
    }

    svg {
        g, use {
            transition: fill $defaultDurationTIme linear;
        }
    }
}

.max-w-8xl {
    max-width: 96rem;
}

.w-container {
    @media (min-width: 320px) {
        max-width: 100%;
    }

    @media (min-width: 1440px) {
        max-width: 1280px;
    }

    @media (min-width: 1680px) {
        max-width: 1400px;
    }

    @media (min-width: 1820px) {
        max-width: 1620px;
    }

    @media (min-width: 2200px) {
        max-width: 1960px;
    }
}
