@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "variables";
@import "input";
@import "login";
@import "profile";
@import "sidebar";

@font-face {
    font-family: MinionPro;
    src: url("../fonts/minionpro/MinionPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: MinionPro;
    font-weight: 600;
    src: url("../fonts/minionpro/MinionPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family: GillSans;
    src: url('../fonts/gillsans/gil-regular.ttf') format('truetype');
}

@font-face {
    font-family: GillSans;
    font-weight: 600;
    src: url('../fonts/gillsans/gil-bold.ttf') format('truetype');
}

body {
    font-family: GillSans;
    font-size: 16px;
    color: #4e4d4b !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ff-minion {
    font-family: MinionPro;
}

.bg-default {
    background-color: #EDE9E0;
}

.bg-light {
    background-color: #FDFCF8;
}

.bg-dark {
    background-color: #4e4d4b;
}

.bg-semilight {
    background-color: #F7F4ED;
}

.fs-22 {
    font-size: 22px;
}

.fs-34 {
    font-size: 34px;
}

.fs-50 {
    font-size: 50px;
}

.fs-70 {
    font-size: 70px;
}

.fs-default {
    font-size: 16px;
}

.text-color-light, .text-color-inactive {
    color: #adaaa5;
}

.text-color-inactive {
    &:hover {
        color: #4e4d4b;
    }
}

.text-color-dark, .text-color-active {
    color: #4e4d4b;
}

.h-full {
    height: 100%;
}

.form-label {
    font-size: 12px;
    letter-spacing: 2.18px;
}

.gap-15p {
    gap: 20px 15%;
}

label {
    position: relative;

    &.required {
        &::after {
            position: absolute;
            content: '*';
            color: red;
            right: 0;
        }
    }
}
