.book-label {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #adaaa5;
    text-transform: uppercase;
}

.book-page {
    border: solid 1px #ccc;
    background-color: transparent;
    padding: 20px;
    width: 100%;

    &__paper {
        width: 100%;
        padding: 30px;
        background-color: #fefcf8;
        min-height: 600px;
        height: 600px;
        max-width: 470px;
        max-height: 600px;
    }

    &__chapter {
        font-family: MinionPro;
        font-size: 16px;
        font-weight: 600;
        color: #4e4d4b;
        margin-bottom: 20px;
    }

    &__content {
        font-family: MinionPro;
        line-height: 1.43;
        font-size: 14px;

        p {
            margin: 20px 0;
        }

        &_first-letter {
            p:first-child {
                &::first-letter {
                    font-size: 28px;
                    float: left;
                    padding-right: 10px;
                    color: #4e4d4b;
                    font-weight: 600;
                }
            }
        }
    }
}
