.book-label {
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #adaaa5;
    text-transform: uppercase;
    transition: color $defaultDurationTIme linear;

    &:hover {
        color: #4e4d4b;
    }
}

.book-page {
    border: solid 1px #ccc;
    background-color: transparent;
    padding: 20px;
    width: 100%;

    &__paper {
        width: 100%;
        padding: 30px 0;
        //padding: 30px;
        background-color: #fefcf8;
        min-height: 640px;
        height: 640px;
        max-width: 470px;
        max-height: 640px;

        &_cover {
            padding: 0;
        }
    }

    &__contacts {
        padding: 30px;
        font-size: 12px;
        color: #4e4d4b;
    }

    &__chapter {
        padding: 0 30px;
        font-family: MinionPro;
        font-size: 16px;
        font-weight: 600;
        color: #4e4d4b;
        margin-bottom: 20px;
    }

    &__content {
        font-family: MinionPro;
        padding: 0 30px;
        line-height: 1.43;
        font-size: 14px;
        overflow-y: auto;
        word-break: break-all;

        &::-webkit-scrollbar {
            width: 2px;
            //border-radius: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        p {
            margin: 20px 0;
        }

        &_editor {
            p {
                margin: 0;
            }
        }

        &_first-letter {
            p:first-child {
                &::first-letter {
                    font-size: 28px;
                    float: left;
                    padding-right: 10px;
                    color: #4e4d4b;
                    font-weight: 600;
                }
            }
        }
    }
}
