.book-label {
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #adaaa5;
    text-transform: uppercase;
    transition: color $defaultDurationTIme linear;

    &:hover {
        color: #4e4d4b;
    }

    &_no-hover {
        color: #adaaa5;
        cursor: default;

        &:hover {
            color: #adaaa5;
        }
    }
}

.book-page {
    border: solid 1px #ccc;
    background-color: transparent;
    padding: 20px;
    width: 100%;
    position: relative;

    &__paper {
        width: 100%;
        padding: 30px;
        //padding: 30px;
        background-color: #fefcf8;
        min-height: 640px;
        height: 640px;
        max-width: 470px;
        max-height: 640px;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;

        &_cover {
            padding: 0;
        }

        &_preview {
            pointer-events: none;
            outline: none;
            //overflow: visible;
            overflow: hidden;
            padding: 0;

            &__content {
                .book-page__content_editor {
                    padding: 30px;
                    position: relative;
                    top: 0;
                    left: 0;
                    height: 610px;
                    column-width: 420px;
                    column-gap: 60px;
                    overflow: visible;
                    word-break: break-word;

                    h2, p {
                        text-indent: 47.244094488px;
                    }
                }
            }
        }
    }

    &__contacts {
        padding: 30px;
        font-size: 12px;
        color: #4e4d4b;
    }

    &__chapter {
        padding: 0 30px;
        font-family: MinionPro;
        font-size: 16px;
        font-weight: 600;
        color: #4e4d4b;
        margin-bottom: 20px;
    }

    &__content {
        font-family: MinionPro;
        //padding: 0 30px;
        line-height: 1.43;
        font-size: 14px;
        overflow-y: auto;
        word-break: break-all;

        &::-webkit-scrollbar {
            width: 2px;
            //border-radius: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        p {
            margin: 20px 0;
        }

        &_editor {
            p {
                margin: 0;
            }
        }

        &_first-letter {
            //p:first-child {
            //    &::first-letter {
            //        font-size: 28px;
            //        float: left;
            //        padding-right: 10px;
            //        color: #4e4d4b;
            //        font-weight: 600;
            //    }
            //}
        }
    }
}

.content-reading, #chapter-print {
    padding: 30px;
    position: relative;
    top: 0;
    left: 0;
    height: 610px;
    column-width: 420px;
    column-gap: 60px;
    overflow: visible;
    word-break: break-word;
    text-align: justify;

    h2, p {
        text-indent: 47.244094488px;
    }
}
