.character-in-list {
    position: relative;

    > div {
        position: relative;
        height: 260px;
    }

    &__three-dots {
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__dropdown-menu {
        position: absolute;
        z-index: 10;
        padding: 20px;
        right: -155px;
        top: -10px;
        text-align: left;
        width: 140px;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.04);

        &_bottom {
            top: 40px;
            left: -100px;

            border-radius: 10px;
        }
    }
}

.che-rt-block {
    position: sticky;
    top: 2rem;
}

.chet-preview {
    position: relative;
    //&__block {
    //    height: 220px;
    //}
    &__updated-at {
        margin-top: 10px;
        //position: absolute;
        //bottom: 90px;
        //left: 35px;
        color: #adaaa5;
    }
}

.chedit-box-border {
    border: 1px solid transparent;

    &_active {
        border: 1px solid #ccc;
    }
}

.character-editor-wrapper {
    @media (min-height: 400px) {
        max-height: 15vh;
    }

    @media (min-height: 500px) {
        max-height: 25vh;
    }

    @media (min-height: 600px) {
        max-height: 35vh;
    }

    @media (min-height: 700px) {
        max-height: 45vh;
    }

    @media (min-height: 800px) {
        max-height: 55vh;
    }

    @media (min-height: 900px) {
        max-height: 55vh;
    }

    @media (min-height: 1000px) {
        max-height: 60vh;
    }

    @media (min-height: 1100px) {
        max-height: 65vh;
    }
}
