.character-in-list {
    position: relative;

    > div {
        position: relative;
    }

    &__three-dots {
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__dropdown-menu {
        position: absolute;
        z-index: 10;
        padding: 20px;
        right: -155px;
        top: -10px;
        text-align: left;
        width: 140px;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.04);

        &_bottom {
            top: 40px;
            left: -100px;

            border-radius: 10px;
        }
    }
}

.che-rt-block {
    position: sticky;
    top: 2rem;
}

//.chet-preview {
//    &__block {
//        height: 220px;
//    }
//}
