.header-user {
    position: relative;

    &__image {
        display: none;
        position: absolute;
        right: 0;

        @media (min-width: 1100px) {
            display: block;
            width: 200px;
        }

        @media (min-width: 1200px) {
            width: 300px;
        }

        @media (min-width: 1280px) {
            width: 360px;
        }
    }
}

.scriptorium-wrapper {
    position: relative;

    &__add-icon {
        position: absolute;
        cursor: pointer;
        right: -25px;
        top: 50px;
        width: 50px;
        height: 50px;
        padding: 18px;
        border-radius: 50%;
        background-color: #4e4d4b;
    }
}

.scriptorium-book {
    &:hover {
        .scriptorium-book {
            &__title {
                color: #000;
            }
        }
    }

    &__image {
        min-height: 230px;
        height: 280px;
        min-width: 200px;
        width: 200px;
        max-width: 200px;
        background-size: cover;
        background-position: center;
        -moz-transition: background-image $defaultDurationTIme ease-in-out;
        -webkit-transition: background-image $defaultDurationTIme ease-in-out;
        -o-transition: background-image $defaultDurationTIme ease-in-out;
    }

    &__title {
        transition: color $defaultDurationTIme linear;
    }
}
