input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FDFCF8 inset;
}

input:-webkit-autofill:focus {
    /*-webkit-box-shadow: !*your box-shadow*!,0 0 0 50px white inset;*/
    /*-webkit-text-fill-color: #333;*/
}

.input-default {
    /*-webkit-text-fill-color: transparent !important;*/

    border: none;
    background-color: transparent !important;
    border-bottom: 1px solid #cdcfc4;
    padding: 10px 0;
    outline: none;
    box-shadow: none;
    transition: all $defaultDurationTIme linear;

    &:focus {
        border-bottom: 1px solid #4e4d4b;
    }
}

.input-default:focus {
    outline: none;
}

.input-icon-wrapper {
    position: relative;

    svg {
        position: absolute;
    }

    &.email {
        svg {
            width: 16px;
            height: 14px;
            top: 14px;

            @media (min-height: 880px) {
                width: 18px;
                height: 15px;
                top: 15px;
            }
        }
    }

    &.password {
        svg.password-icon {
            width: 16px;
            height: 16px;
            top: 11px;
            left: 2px;

            @media (min-height: 880px) {
                width: 18px;
                height: 18px;
                top: 13px;
            }
        }
    }

    .show-password-icon {
        cursor: pointer;

        svg {
            right: 0;
            top: 15px;
        }
    }

    input {
        padding-left: 30px;
    }
}

.show-password {
    position: relative;

    &__icon-wrapper {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 15px;
    }

    &__icon {
        cursor: pointer;
    }

    svg {
        &.active {
            g {
                fill: #1a202c;
            }
        }

        g {
            transition: fill $defaultDurationTIme linear;
        }
    }
}

button {
    outline: none !important;
    border: none;
}
