.login-logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: $lg) and (min-height: 880px) {
        position: absolute;
        left: 50%;
        top: 36px;
        margin: 0;

        &__link {
            position: relative;
            left: -50%;
        }
    }
}

.login-background {
    &.absolute {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .col-span-1, .register {
        background-color: #f7f4ed;
    }
}

.login-section {
    .login-logo {
        @media (min-height: 630px) {
            display: none;
        }

        @media (min-height: 880px) {
            display: block;
            margin-bottom: 20px;
        }
    }
}

#show-password {
    svg {
        &.active {
            g {
                fill: #1a202c;
            }
        }

        g {
            transition: fill $defaultDurationTIme linear;
        }
    }
}

.login-register-button {
    margin-top: 60px;
    margin-bottom: 30px;

    @media (min-height: 880px) {
        margin-top: 70px;
        margin-bottom: 100px;
    }
}

.login-right-block {
    @media (min-height: 880px) {
        padding-top: 60px;
    }
}
