.login-logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;

    @media (min-width: $lg) and (min-height: 880px) {
        position: absolute;
        left: 50%;
        top: 36px;
        margin: 0;

        &__link {
            position: relative;
            left: -50%;
        }
    }
}

.login-background {
    &.absolute {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .col-span-1, .register {
        background-color: #f7f4ed;
    }
}

.login-section {
    .login-logo {
        @media (min-height: 630px) {
            display: none;
        }

        @media (min-height: 800px) {
            display: block;
            margin: 20px 0;
        }
    }
}

#show-password {
    svg {
        &.active {
            g {
                fill: #1a202c;
            }
        }

        g {
            transition: fill $defaultDurationTIme linear;
        }
    }
}
