.login-logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
        margin-top: 20px;
    }

    @media (min-width: 960px) and (min-height: 620px) {
        position: absolute;
        margin: 0;

        &_left {
            left: 20px;
            top: 20px;

            .login-logo__link {
                position: relative;
                left: 0;
            }
        }

        svg {
            height: 40px;
        }
    }

    @media (min-width: 960px) and (min-height: 1024px) {

        position: absolute;
        left: 50%;
        top: 36px;
        margin: 0;

        &__link {
            position: relative;
            left: -50%;
        }

        &_left {
            left: 40px;

            .login-logo__link {
                position: relative;
                left: 0;
            }
        }

        svg {
            height: 60px;
        }
    }
}

.login-background {
    &.absolute {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .col-span-1, .register {
        background-color: #f7f4ed;
    }
}

.grid-background {
    &.absolute {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .col-bg {
        &_default {
            background-color: #EDE9E1;
        }
    }

    .col-bg {
        background-color: #f7f4ed;
    }
}

.login-section, .register-section {
    .login-logo {
        display: none;

        @media (min-height: 630px) {
            display: none;
        }

        @media (min-height: 1024px) {
            display: flex;
        }
    }
}

#show-password {
    svg {
        &.active {
            g {
                fill: #1a202c;
            }
        }

        g {
            transition: fill $defaultDurationTIme linear;
        }
    }
}

.login-register-button {
    margin-top: 60px;
    margin-bottom: 60px;

    //@media (min-height: 880px) {
    //    margin-top: 70px;
    //    margin-bottom: 100px;
    //}
}

.login-right-block {
    @media (max-width: 1023px) {
        padding-top: 40px;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.auth-card {
    padding: 30px;
    margin-top: 30px;

    //@media (min-height: 880px) {
    //    padding: 60px;
    //}
}

.login-h1 {
    margin-bottom: 10px;

    //@media (min-height: 880px) {
    //    margin-bottom: 20px;
    //}
}

.login-socials {
    margin-bottom: 15px;

    //@media (min-height: 880px) {
    //    margin-bottom: 25px;
    //}
}
