.mt-40px {
    margin-top: 30px;

    @media (min-height: 880px) {
        margin-top: 40px;
    }
}

.mb-40px {
    margin-bottom: 40px;
}

.mt-60px {
    margin-top: 60px;
}

.mb-60px {
    margin-bottom: 60px;
}
