.small-menu {
    width: 100px !important;

    &_very {
        width: 10px !important;
    }

    .menu-link {
        width: 100px;
        justify-content: center;
        svg {
            margin: 0;
        }
    }

    .menu-link-title {
        display: none;
    }
}

.menu-link {
    margin-top: 10px;

    svg {
        width: 18px;
        max-width: 18px;
    }
}

.small-menu-button {
    position: absolute;
    right: -27px;
    top: 60px;
    background-color: #f7f4ed;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-left: 15px;
    }
}

.left-sidebar.bg-default {
    .small-menu-button {
        background-color: #EDE9E0 !important;
    }
}

.nav-sidebar {
    a {
        color: #adaaa5;

        &:focus, &:hover {
            color: #4e4d4b;

            svg.nav-sidebar__icon_fill {
                g {
                    fill: #1a202c;
                }
            }

            svg.nav-sidebar__icon_stroke {
                stroke: #1a202c;
            }
        }

        &.active {
            color: #4e4d4b;

            svg.nav-sidebar__icon_fill {
                g {
                    fill: #1a202c;
                }
            }

            svg.nav-sidebar__icon_stroke {
                stroke: #1a202c;
            }
        }

        svg.nav-sidebar__icon_fill {
            g {
                fill: #BEBDB8;
                transition: fill 150ms linear;
            }
        }

        svg.nav-sidebar__icon_stroke {
            stroke: #BEBDB8;
            transition: stroke 150ms linear;
        }
    }
}
