.small-menu {
    width: 100px !important;

    .menu-link {
        width: 100px;
        justify-content: center;
        svg {
            margin: 0;
        }
    }

    .menu-link-title {
        display: none;
    }
}

.menu-link {
    margin-top: 10px;
}

.small-menu-button {
    position: absolute;
    right: -20px;
    top: 60px;
    background-color: #f7f4ed;
    padding: 20px 15px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}

.nav-sidebar {
    a {
        color: #adaaa5;

        &:focus, &:hover {
            color: #4e4d4b;

            svg.nav-sidebar__icon_fill {
                g {
                    fill: #1a202c;
                }
            }

            svg.nav-sidebar__icon_stroke {
                stroke: #1a202c;
            }
        }

        &.active {
            color: #4e4d4b;

            svg.nav-sidebar__icon_fill {
                g {
                    fill: #1a202c;
                }
            }

            svg.nav-sidebar__icon_stroke {
                stroke: #1a202c;
            }
        }

        svg.nav-sidebar__icon_fill {
            g {
                fill: #BEBDB8;
                transition: fill 150ms linear;
            }
        }

        svg.nav-sidebar__icon_stroke {
            stroke: #BEBDB8;
            transition: stroke 150ms linear;
        }
    }
}
